.navbar-brand {
  padding: 0 10px;
}

.navbar {
  margin: 0;
  border: 0;
  background: transparent;
}

.navbar-collapse {
  min-height: 50px;
}

.navbar .container {
  position: relative;
  background: #222;
}

.social {
  position: absolute;
  top: 11px;
  right: 65px;
}

.fa {
  margin-left: 5px;
}

.social_f:hover,
.social_f:focus {
  color: #3B5998;
}

.social_yt:hover,
.social_yt:focus {
  color: #DD4B39;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.nav > li {
  height: 35px;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .navbar-brand {
    display: none;
  }
  .social {
    right: 10px;
  }
}