<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" type="button" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">
        <img width="100" src="assets/images/logo-small.png" alt="Logo de Matvey" height="50">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/inicio" >Inicio</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/banda">Banda</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/discografia">Discografía</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/fotos">Fotos</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/videos">Videos</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/reseñas">Reseñas</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
    <div class="social">
      <a class="social_f" href="https://www.facebook.com/MatveyHeavyMetal" target="_blank">
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
      </a>
      <a class="social_yt" href="https://www.youtube.com/channel/UCtLt6utrJDiafScJIpFNIjg" target="_blank">
        <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>
