<section class="contact col-xs-12">
    <h2>Contacto</h2>
    <hr class="separator">

    <div class="row">
        <!--<form name="caontactForm" class="col-xs-12 col-sm-6 contactForm" method="post" action="<?php echo basename(__FILE__); ?>" enctype="multipart/form-data">
            <input type="hidden" name="formid" value="formulario">
            <p>Dejanos un mensaje:</p>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="text" class="form-control" id="inputName" placeholder="Enter your name" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Enter your email" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="text" class="form-control" id="inputSubject" placeholder="Enter the message subject" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <textarea class="form-control" rows="3" placeholder="Enter a message" required></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-default">Enviar</button>
              </div>
            </div>
          </form>-->
        <aside class="col-xs-12 col-sm-6">
            <p><b><u>Medios de comunicación:</u></b></p>
            <p><b>E-Mail:</b><br>contacto.matveyargentina@gmail.com</p>
            <p><b>Electric Punishment Record Label:</b><br>info@electric-punishment.com</p>
        </aside>
    </div>
</section>
