<header>
  <app-nav></app-nav>
  <img class="col-xs-12" src="assets/images/band.jpg" alt="Foto de los integrantes de Matvey">
  <hr class="separator thicker">
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="col-xs-12 text-center mainFooter">
  <nav>
    <a routerLink="/inicio">Inicio</a><span> | </span>
    <a routerLink="/banda">Banda</a><span> | </span>
    <a routerLink="/discografia">Discografía</a><span> | </span>
    <a routerLink="/fotos">Fotos</a><span> | </span>
    <a routerLink="/videos">Videos</a><span> | </span>
    <a routerLink="/reseñas">Reseñas</a><span> | </span>
    <a routerLink="/contacto">Contacto</a>
  </nav>
  <small>© Matvey. Todos los derechos reservados.</small>
</footer>