a {
    cursor: pointer;
}

.reviews hr {
    margin: 10px 0;
}

.articles article:not(:first-child) {
    display: none;
}

.btn-reviews {
    margin-top: 15px;
}

.btn-reviews .dropdown-menu {
    font-size: 13px;
    right: 50%;
    left: auto;
    margin-right: -160px;
    background: #222;
}

.dropdown-menu>li>a {
    color: #fff;
}

#reviewsDropdownMenu {
    color: #fff;
    border-color: #333;
    background: #222;
}

#reviewsDropdownMenu.active.focus,
#reviewsDropdownMenu.active:focus,
#reviewsDropdownMenu.active:hover,
#reviewsDropdownMenu:active.focus,
#reviewsDropdownMenu:active:focus,
#reviewsDropdownMenu:active:hover,
.open>.dropdown-toggle#reviewsDropdownMenu.focus,
.open>.dropdown-toggle#reviewsDropdownMenu:focus,
.open>.dropdown-toggle#reviewsDropdownMenu:hover {
    background: #333;
}

@media (min-width: 768px) {
    ul {
        padding-left: 15px;
    }
    .btn-reviews {
        display: none;
    }
}
